.product-card {
    border: 1px solid #073B3A;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card img {
    max-width: 100%;
    border-radius: 8px;
}

.product-card h2 {
    color: #08A045;
    margin-top: 1rem;
}

.product-card p {
    color: #073B3A;
}

.product-card button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #F5B700;
    border: none;
    border-radius: 5px;
    color: #08A045;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-card button:hover {
    background-color: #6BBF59;
}
